.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
  align-content: center;
}

.App-header {
  background-color: #5c1010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  font-family: "American Typewriter", serif;
  font-size: 7vh;
  min-height: 4vh;
}

#Form-Link {
  font-family: "American Typewriter", serif;
  font-size: 5vh;
  min-height: 1vh;
}

.App-link {
  color: #61dafb;
}

